body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup {
  display: none;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {
  background-color: #f4f7f9;
}

.top-navigation {
  font-size: 17px;

  background-color: #293449;
  height: 42px;
  margin-bottom: 46px;
}

.top-navigation a {
  color: #ffffff;
}

.inner-container {
  margin: 0 auto;
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-header-logo {
  width: 220px;
  height: 47px;
  background-color: #ee3643;
}

.main-header-logo:hover,
.main-header-logo:focus {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.header-info {
  margin: 0 auto;
  padding: 0;

  display: flex;
  width: 940px;
  justify-content: space-between;
  background-color: #f4f7f9;
}

.top-links:hover,
.top-links:focus {
  background-color: #212a3a;
}

.top-links:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.checkout {
  background-color: #63a63e;
}

.checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}

.checkout:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

h1 {
  margin: 0;

  font-size: 16px;
  line-height: 23px;
}

h2 {
  font-size: 30px;

  text-transform: uppercase;
}

h3 {
  font-size: 18px;
}

.contacts-header p {
  margin: 0;

  font-size: 14px;
  font-style: normal;
  color: #32425c;
}

.contacts-header-wrapper {
  width: 270px;
}

.pnone-header {
  font-size: 21px;
  font-style: normal;
  color: #ee3643;


  border: solid 3px #ffffff;
}

.user-block,
.main-menu,
.footer-menu,
.delivery-list,
.footer-addition-links,
.footer-social,
.breadcrumbs,
.filter-manufactures,
.filter-power,
.products-list {
  list-style: none;
}

.user-block {
  display: flex;
  margin: 0 auto;
  width: 300px;
  flex-wrap: wrap;
}

.user-block a {
  font-size: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-block a:hover,
.user-block a:focus {
  color: #ee3643;
}

.user-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-profile a:hover,
.user-profile a:focus {
  color: #000000;
}

.user-profile a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  margin: 0 auto;
  width: 940px;
  padding-bottom: 60px;
}

.main-menu a {
  color: #ffffff;

  background-color: #32425c;
}

.main-menu a:hover,
.main-menu a:focus {
  background-color: #293449;
}

.main-menu a:active {
  color:  rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}
.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
  flex-wrap: wrap;

  font-size: 17px;

  background-color: #32425c;
}

.main-text {
  font-family: 'PT Sans', Arial, sans-serif;
}

.delivery-list li {
  font-weight: bold;
  font-size: 18px;
}

.button {
  font-size: 14px;
  color: #ffffff;

  text-transform: uppercase;

  background-color: #ee3643;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-footer {
  color: #ffffff;
  font-size: 18px;

  background-color: #32425c;
}

.main-footer a {
  font-style: normal;
  color: #ffffff;
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  background-color: #ee3643;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

.footer-menu a:hover,
.footer-menu a:focus {
  text-decoration: underline;
}

.footer-menu a:active {
  color: rgba(241, 245, 247, 0.5);
  text-decoration: none;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  font-style: normal;
  padding-bottom: 53px;
}

.footer-addition-links {
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.footer-addition-links a {
  color: #ffd180;
}

.footer-addition-links a:hover,
.footer-addition-links a:focus {
  text-decoration: underline;
}

.footer-addition-links a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.footer-end-row {
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-end-row .container {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.footer-end-row a {
  color: #ffd180;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #ee3643;
  text-decoration: none;
}

.feedback-form input[type='text'],
.feedback-form input[type='email'] {
  color: #999999;

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.feedback-form input:hover {
  border: 2px solid #b5b5b5;
  border-radius: 2px;
}

.feedback-form input:focus {
  border: 2px solid #ee3643;
  border-radius: 2px;
}

.description {
  margin-left: 53px;
  width: 196px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
  color: #ee3643;
}

.user-links a {
  font-size: 16px;
  color: #32425c;

  text-decoration: underline;
}

.breadcrumbs {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  display: flex;
}

.breadcrumbs a {
  color: #000000;
  text-transform: uppercase;
}

.inner-page-heading {
  padding-top: 32px;
  padding-left: 30px;
  padding-bottom: 34px;

  font-size: 30px;
  font-style: normal;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-container {
  display: flex;
}

.main-filter {
  width: 220px;
}

.filter {
  font-family: 'PT Sans', Arial, sans-serif;
  color: #000000;

  text-transform: uppercase;
}

.filter .filter-name {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.filter .filter-checkbox,
.filter .filter-radio {
  font-size: 15px;
  line-height: 20px;
}

.filter .filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-manufactures,
.filter-power {
  margin: 0;
  padding: 0;
}

.price-range label {
  display: none;
}

.sorting {
  display: flex;
  justify-content: space-between;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-container {
  display: flex;
  flex-direction: column;
  width: 220px;
  align-items: center;
  border: 1px solid #e5e5e5;
  margin-bottom: 21px;
  padding-bottom: 21px;

  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}

.products-container .product-heading {
  text-align: center;
}

.old-price {
  font-size: 17px;
  color: #999999;
  text-decoration: line-through;
  text-transform: uppercase;
}

.no-old-price {
  display: none;
}

.new-price {
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
}
